@charset "utf-8";
.gazette_section {
    padding: 6.4rem 0;
    text-align: left;
    width: 100%;
}

.gazette_section > .section_bottom {
    width: 100%;
    text-align: center;
}

.gazette_section .gazette_info h3 {
    font-size: var(--font-size24);
    font-weight: var(--font-weight-bold);
    padding-bottom: 2.4rem;
}

.gazette_section .content_section p {
    font-size: var(--font-size17);
    word-break: keep-all;
    color: var(--color-subText1);
    line-height: 1.5;
}

.gazette_section .content_section p + p {
    margin-top: 1.6rem;
}

.gazette_section .gazette_table {
    width: 100%;
    margin-bottom: 4.8rem;
}

.gazette_section .gazette_table h3 {
    font-size: var(--font-size20);
    font-weight: var(--font-weight-bold);
    padding-bottom: 2.4rem;
}


/* table 스타일 */
  
  .gazette_table_wrapper{
  border-top: 1px solid #111;
  border-bottom: 1px solid #D4D6D9;

}

.gazette_section .gazette_table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
    color: var(--color-subText1);
}

.gazette_section .gazette_table table caption {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.gazette_section .gazette_table table thead {
    background-color: #F7F8FA;
}

.gazette_section .gazette_table table th {
    padding: 1.6rem 1.2rem;
    text-align: center;
    font-weight: var(--font-weight-bold);
    border-right: 1px solid #E0E2E8;
}

.gazette_section .gazette_table table th:last-child {
    border-right: none;
}

.gazette_section .gazette_table table tbody tr {
    background: #fff;
    border-top: 1px solid #E0E2E8;
}

.gazette_section .gazette_table table th{
    background-color: #F6F7F8;
    font-weight: var(--font-weight-normal);
}

.gazette_section .gazette_table table td {
    padding: 1rem 1.8rem;
    text-align: left;
    border-right: 1px solid #E0E2E8;
}

.gazette_section .gazette_table table td:last-child {
    border-right: none;
}

.gazette_section .gazette_toc_list{
    width: 100%;
    max-height: 370px;
    overflow-y: auto;
    border: 1px solid #D4D6D9;
    border-radius: 6px;
    padding: 3.2rem 2.4rem;

}

.gazette_section .gazette_toc_list li{
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}

.gazette_section .gazette_toc_list li + li{
    margin-top: 1.6rem;
}

.gazette_section .gazette_toc_list li img{
    margin-right: 0.8rem;
    vertical-align: middle;
}

.gazette_section .gazette_toc_list li span{
    font-weight: var(--font-weight-normal);
}


@media screen and (max-width: 1024px) {
    .gazette_section .gazette_table h3 {
        font-size: var(--font-size17);
        padding-bottom: 1.2rem;
        margin-bottom: 0;
    }
    
    .gazette_section .gazette_table{
        margin-bottom: 2.4rem;
    }
    
    .gazette_section .gazette_table_wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    .gazette_section .gazette_table table th{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .gazette_section .gazette_table table th,
    .gazette_section .gazette_table table td {
        padding: 1.2rem 1rem;
        font-size: var(--font-size15);
    }

    .gazette_section {
      padding: 3.2rem 2.4rem;
      box-sizing: border-box;
    }
  
    .gazette_section .gazette_info h3 {
      font-size: var(--font-size18);
      padding-bottom: 1.2rem;
    }
  
    .gazette_section .content_section p {
      font-size: var(--font-size16);
    }

    .gazette_section .gazette_toc_list{
        max-height: 474px;
        padding: 1.6rem;
    }

    .gazette_section .gazette_toc_list li{
        align-items: flex-start;
    }

    .gazette_section .gazette_toc_list li span{
        font-size: var(--font-size15);
     }

    /* 모바일 테이블 반응형 변환 */
    .gazette_section .gazette_table table tr {
        display: flex;
        flex-wrap: wrap;
    }

    .gazette_section .gazette_table table th,
    .gazette_section .gazette_table table td {
        border-right: none !important;
        border-bottom: 1px solid #E0E2E8 !important;
    }

    .gazette_section .gazette_table table th {
        width: 80px;
        flex: 0 0 80px;
        padding: 1.2rem 1rem;
        background-color: #F6F7F8;
    }

    .gazette_section .gazette_table table td {
        flex: 0 0 calc(100% - 80px);
        padding: 1.2rem 1rem;
    }

    .gazette_section .gazette_table table td button{
        height: 36px;
    }

    .gazette_section .gazette_table table td[colspan="3"] {
        flex: 1 1 calc(100% - 80px);
        min-width: calc(100% - 80px);
    }
     
}